#world-canvas {
    position: relative;
    margin: 10px;
    top: 50px;
    left: 50px;
    width: calc(100vw - 150px);
    height: calc(100vh - 150px);
    background-color: #444;
    border-radius: 15px;
}

.creatures { 
    position: absolute;
    background-color: aliceblue;
    color: #111;
    text-align: center;

    height: 20px;
    width: 20px;
    border-radius: 50%;

}